@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-steel: #a8a8c0;
  --bg-water: #3899f8;
  --bg-bug: #a8b820;
  --bg-dragon: #7860e0;
  --bg-electric: #f8f030;
  --bg-ghost: #6060b0;
  --bg-fire: #f05030;
  --bg-fairy: #e79fe7;
  --bg-ice: #58c8e0;
  --bg-fighting: #a05038;
  --bg-normal: #a8a090;
  --bg-grass: #78c850;
  --bg-psychic: #f870a0;
  --bg-rock: #b8a058;
  --bg-dark: #7a5848;
  --bg-ground: #e9d6a4;
  --bg-poison: #b058a0;
  --bg-flying: #98a8f0;
}

